+ADw-head+AD4-
	+ADwAIQ--- Global site tag (gtag.js) - Google Analytics --+AD4-
	+ADw-script async src+AD0AIg-https://www.googletagmanager.com/gtag/js?id+AD0-UA-163570483-1+ACIAPgA8-/script+AD4-
	+ADw-script+AD4-
	  window.dataLayer +AD0- window.dataLayer +AHwAfA- +AFsAXQA7-
	  function gtag()+AHs-dataLayer.push(arguments)+ADsAfQ-
	  gtag('js', new Date())+ADs-

	  gtag('config', 'UA-163570483-1')+ADs-
	+ADw-/script+AD4-
	+ADw-meta charset+AD0AIg-utf-8+ACIAPg-
	+ADw-meta http-equiv+AD0AIg-x-ua-compatible+ACI- content+AD0AIg-ie+AD0-edge+ACIAPg-
	+ADw-meta name+AD0AIg-viewport+ACI- content+AD0AIg-width+AD0-device-width, initial-scale+AD0-1.0+ACIAPg-
	+ADw-base target+AD0AIgBf-blank+ACIAPg-

	+ADw-title class+AD0AIg-pageTitle+ACIAPgB7AHs- site.page+AF8-title +AH0AfQA8-/title+AD4-
	+ADw-meta name+AD0AIg-description+ACI- content+AD0AIgB7AHs- site.app+AF8-description +AH0AfQAiAD4-

	+ADw-link rel+AD0AIg-shortcut icon+ACI- href+AD0AIgB7AHs- site.app+AF8-icon +AH0AfQAiAD4-

	+ADwAIQ--- Smart App Banner --+AD4-
	+AHsAJQ- if site.enable+AF8-smart+AF8-app+AF8-banner +ACUAfQ-
		+ADw-meta name+AD0AIg-apple-itunes-app+ACI- content+AD0AIg-app-id+AD0AewB7- site.ios+AF8-app+AF8-id +AH0AfQAiAD4-
	+AHsAJQ- endif +ACUAfQ-

	+ADw-link rel+AD0AIg-stylesheet+ACI- href+AD0AIg-https://use.fontawesome.com/releases/v5.6.3/css/all.css+ACI- integrity+AD0AIg-sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/ACI- crossorigin+AD0AIg-anonymous+ACIAPg-
	+ADw-link rel+AD0AIg-stylesheet+ACI- href+AD0AIg-/main.css+ACIAPg-
	+ADw-link rel+AD0AIg-stylesheet+ACI- href+AD0AIg-main.css+ACIAPg-
	+ADw-link rel+AD0AIg-stylesheet+ACI- href+AD0AIg-../main.css+ACIAPg-
	+AHsAJQ- seo +ACUAfQ-
+ADw-/head+AD4-
